@import "../../node_modules/primer-core/index.scss";

.icon {
  width: 18px;
  height: 18px;
}

.buttonLabel {
  vertical-align: super;
}

//.commonContainer {
//  // display: flex;
//  // min-width: 450px;
//  height: 100vh;
//}

//.contentContainer {
//  display: flex;
//  flex-grow: 1;
//  margin-left: 42px;
//}
