name: Release version

on:
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
  
    - name: npm install, build
      run: |
        npm install
        npm run build


    - name: get-npm-version
      id: package-version
      uses: martinbeentjes/npm-get-version-action@master

    - name: Archive production artifacts
      uses: thedoctor0/zip-release@master
      with:
        filename: "${{ steps.package-version.outputs.current-version}}.zip"
        path: dist

    - name: Release version
      uses: ncipollo/release-action@v1
      with:
        draft: true
        tag: ${{ steps.package-version.outputs.current-version}}
        prerelease: true
        artifacts: "${{ steps.package-version.outputs.current-version}}.zip"
        replacesArtifacts: false
        token: ${{ secrets.GITHUB_TOKEN }}
